.wheel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin: 20px 0;
}

.grid-button {
  padding: 10px 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.grid-button:hover {
  background-color: #5a6268;
}



.result {
  margin-top: 20px;
  font-size: 1.2em;
}

.error-message {
  color: red;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001; /* Modal'ın z-index değerini artırıyoruz */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Overlay'in z-index değerini artırıyoruz */
}

.modal h2 {
  margin-bottom: 20px;
  color: black; /* Yazı rengini siyah yapıyoruz */
}

.modal p {
  margin-bottom: 20px;
  color: black; /* Yazı rengini siyah yapıyoruz */
}

.modal button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #0056b3;
}
