.wheel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #f0f0f0;
}

.wheel-container {
  position: relative;
}

.spin-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
}

.error-message {
  color: red;
}

/* Modal Styles */
.modal {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: black; /* Yazı rengini siyah yapıyoruz */
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
