html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Disables global scrolling */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow-y: auto; /* Enables content scrolling */
  scrollbar-width: none; /* Firefox */
}
.matrix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  color: #0f0;
  font-family: monospace;
  font-size: 10px;
}

.wheel-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.wheel {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 4s ease-out;
}

.segment {
  position: absolute;
  width: 50%;
  height: 50%;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 100% 100%;
}

.segment:nth-child(1) { transform: rotate(0deg) translate(50%); }
.segment:nth-child(2) { transform: rotate(72deg) translate(50%); }
.segment:nth-child(3) { transform: rotate(144deg) translate(50%); }
.segment:nth-child(4) { transform: rotate(216deg) translate(50%); }
.segment:nth-child(5) { transform: rotate(288deg) translate(50%); }

.arrow {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid red;
}


.main-content::-webkit-scrollbar {
  display: none; /* WebKit-based browsers */
}

.bottom-navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #000000 !important; /* Navigation background color */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}



.bottom-navigation-action:focus {
  outline: none !important;
  border: none !important;
}

