html, body {
  height: 100%;
  margin: 0;
  
  overflow: hidden; /* Disables global scrolling */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow-y: auto; /* Enables content scrolling */
  scrollbar-width: none; /* Firefox */
}


.main-content::-webkit-scrollbar {
  display: none; /* WebKit-based browsers */
}




 