html, body, #root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Yatay kaydırmayı engeller */

  touch-action: pan-y; /* Dokunmatik cihazlarda yatay kaydırmayı engeller */

  overflow: hidden; /* Disables global scrolling */

  height: 100%;
  overflow: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #e9ebef 
}

a {
  font-weight: 500;
  text-decoration: inherit;
}


body {
  margin: 0;
  touch-action: pan-y; /* Dokunmatik cihazlarda yatay kaydırmayı engeller */
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Yatay kaydırmayı engeller */
 align-items: center;
 justify-content: center;
}
.hidden {
  display: none;
}

.main-content {
  transition: opacity 0.5s ease;
}

.main-content.hidden {
  opacity: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
  button {
    background-color: #ffffff;
  }
}
